<!DOCTYPE html>
<html lang="en" ng-app="ethExplorer" class="no-js">
<head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TPChain Explorer</title>
    <meta name="description" content="An Teapass (TPCH) Block Explorer">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/darkly/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <!-- <script src="https://use.fontawesome.com/9376283190.js"></script> -->
    <link rel="shortcut icon" href=" favicon.ico" />
</head>

<body>
    <nav class="navbar navbar-dark navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="./" data-locale="projectname">TPCH Explorer</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="./" data-locale="homename">首页</a></li>
                    <li><a href="./chain" data-locale="blockchainInfo">信息</a></li>
                </ul>
                <div class="col-sm-3 col-md-3 pull-right">
                    <form class="navbar-form" ng-controller="mainCtrl" ng-submit="processRequest()" name="search_form"
                        role="search">
                        <div class="input-group">
                            <input type="text" style="width: 150px !important;"
                                placeholder="Tx Hash, Address, or Block #" name="requestType" required
                                ng-model="ethRequest" class="form-control searchi">
                            <div class="input-group-btn">
                                <button class="btn btn-primary btn-blue" type="submit"><i
                                        class="fa fa-search"></i></button>
                            </div>
                            <div>
                                <select id="lang" class="form-control header-lang" style="width: 70px;">
                                    <option checked value="zh">zh</option>
                                    <option value="en">en</option>
                                </select>
                            </div>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </nav>


    <div ng-view>
        <div class="container">
            <div class="row">
              <div class="col-md-12" align="center">
          </div></div>
          </div>
          <div class="container" style="padding-top: 20px;">
            <div class="row">
              <div class="col-md-2" align="center"><div class="boxi"><a data-locale="currentblock" >区块高度</a><br />{{ blockNumber }}</div></div>
              <!-- <div class="col-md-2" align="center"><div class="boxi">TPCH/USD Price:<br />{{ ethprice || "Loading" }}</div></div> -->
              <div class="col-md-2" align="center"><div class="boxi"><a>TPCH数值</a> <br />Loading</div></div>
              <div class="col-md-2" align="center"><div class="boxi"><a data-locale="gaslimit" >能量上限</a><br />{{ gasLimit }}</div></div>
              <div class="col-md-2" align="center"><div class="boxi"><a data-locale="blocktime" >区块时间</a><br />{{ blocktime }} second(s)</div></div>
              <div class="col-md-2" align="center"><div class="boxi"><a data-locale="currentdiff" >算法难度</a><br />{{ difficulty | diffFormat }}</div></div>
              <div class="col-md-2" align="center"><div class="boxi"><a data-locale="hashrate" >哈希率</a><br />{{ hashrate || "Loading" | hashFormat }}</div></div>
            </div>
            <h1><i class="fa fa-cubes" ><a data-locale="recentblocks" >最近区块</a></i>
              <!-- <small style="color:#3c729c ;">Most Recent Blocks in the TeaPass Network</small> -->
          </h1><br />
            <div class="table-responsive">
              <table class="table table-striped table-hover table-bordered">
                  <thead class="thead-inverse">
                      <td>
                          <strong><a data-locale="block" style="text-decoration:none">区块</a></strong>
                      </td>
                      <td><a data-locale="blockhash" style="text-decoration:none">区块哈希</a></td>
                      <td><a data-locale="difficulty" style="text-decoration:none">难度</a></td>
                      <td><a data-locale="miner" style="text-decoration:none">节点</a></td>
                      <td><a data-locale="size" style="text-decoration:none">大小</a>
                          
                      </td>
                      <td><a data-locale="date" style="text-decoration:none">时间</a>
                      </td>
                      <td><a data-locale="txs" style="text-decoration:none">消息</a>
                      </td>
                      <td><a data-locale="gasused" style="text-decoration:none">能量</a>
                          
                      </td>
                  </thead>
                  <tbody>
                      <tr ng-repeat="block in blocks" class="animated fadeIn">
                          <td>
                              <a href="/#/block/{{ block.number }}">
                                  <span class="btn btn-sm btn-primary"><i class="fa fa-cube"></i> {{ block.number }}</span>
                              </a>
                          </td>
                          <td><a href="/#/block/{{ block.hash }}"><span class="btn btn-sm btn-success">{{ block.hash | truncate : 12 }}</span></a></td>
                          <td style="vertical-align:middle;">{{ block.difficulty | diffFormat }}</td>
                          <td style="vertical-align:middle;"><a href="/#/address/{{ block.miner }}">{{ block.miner }}</a></td>
                          <td style="vertical-align:middle;">
                              {{ block.size | sizeFormat }}
                          </td>
                          <td style="vertical-align:middle;">
                              {{ block.timestamp * 1000 | date:'medium' }}
                          </td>
                          <td style="vertical-align:middle;">
                              {{ block.transactions.length }}
                          </td>
                          <td style="vertical-align:middle;">
                              {{ block.gasUsed | gasFormat }}
                          </td>
                      </tr>
                  </tbody>
              </table>
            </div>
              <h1><i class="fa fa-exchange"><a data-locale="recenttransactions" style="text-decoration:none">数据交互</a></i>  
              </h1><br />
              <div class="table-responsive">
              <table class="table table-striped table-hover table-bordered">
                  <thead class="thead-inverse">
                      <td>
                          <strong><a data-locale="txhash" style="text-decoration:none">TX哈希</a></strong>
                      </td>
                      <td><a data-locale="block" style="text-decoration:none">区块</a></td>
                      <td><a data-locale="from" style="text-decoration:none">从</a></td>
                      <td><a data-locale="to" style="text-decoration:none">到</a>
                      </td>
                      <td><a data-locale="gasused" style="text-decoration:none">能量</a>
                          
                      </td>
                      <td><a data-locale="value" style="text-decoration:none">数值</a>
                          
                      </td>
                  </thead>
                  <tbody>
                      <tr ng-repeat="tx in recenttransactions track by $index-async" class="animated fadeIn">
          
                        <td style="vertical-align:middle;"><a href="/#/tx/{{ tx.hash }}">{{ tx.hash || "" | truncate : 45 }}</a></td>
                          <td style="vertical-align:middle;">
                              <a href="/#/block/{{ tx.blockNumber }}">
                                  {{ tx.blockNumber || "" }}
                              </a>
                          </td>
                          <td style="vertical-align:middle;"><a href="/#/address/{{ tx.from }}">{{ tx.from || "" | truncate : 20 }}</a></td>
                          <td style="vertical-align:middle;"><a href="/#/address/{{ tx.to }}">{{ tx.to || "" | truncate : 20 }}</a></td>
                          <td style="vertical-align:middle;">
                              {{ tx.gas | gasFormat }}
                          </td>
                          <td style="vertical-align:middle;">
                              {{ tx.value | BigNum }}
                          </td>
                      </tr>
                  </tbody>
              </table>
          </div>
          </div>
          
    </div>

    <script src="scripts/angular.min.js"></script>

    <script src="scripts/jquery-3.4.1.min.js"></script>
    <script src="scripts/bootstrap.min.js"></script>
    <script src="scripts/i18n/jquery.i18n.properties.js"></script>
    <script src="scripts/i18n/language.js"></script>
    <script src="scripts/hex.js?v=1.2"></script>


    <!--Services-->
    <div id="connectwarning" class="modal fade" role="dialog">

        <!-- begin AltSheets -->
        <div id="connectwarning-dialog" class="modal-dialog">
            <!-- end AltSheets -->

            <!-- Modal content-->
            <div class="modal-content">
                <center>
                    <div class="modal-header">
                        <h4 class="modal-title">Allow Access to tpch and Refresh the Page</h4>
                    </div>
                    <div class="modal-body">
                        <code><p id="modaltext"></p></code>
                    </div>
                </center>
            </div>
        </div>
    </div>


    <div class="footer styledfoot">
        <footer><br />
            © TPCH EXPLORER BETA 2019 | <a href="#" data-locale="linkurl">Website</a><br />
            <br />
        </footer>
    </div>
</body>

</html>